node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

MyWebViewApp/
.expo/
**/.expo/
**/.agent/
**/.agents/
release/
**/storage/framework/views/*
**/storage/framework/sessions/*
!**/storage/framework/views/.gitignore
!**/storage/framework/sessions/.gitignore
